/* Add CSS Styling */

.odd{
    background-color: rgb(246, 181, 191);
    font: Verdana , DejaVu Sans , sans-serif;
}

#second{
    color: blue;
    font-size: 32px;
}

.odd.cooler{
    font-size: 24px;
}

#fourth{
    background-color: rgb(148, 229, 148);
    font-weight: bold;
    font-size: 24px;
}